.site-parser {
  float: left;
  margin: 20px 0px;
  width: 100%;
  max-width: 1000px;
}
.site-parser__types {
  width: 100%;
}
.site-parser__site {
  float: left;
  height: 30px;
  padding: 2px 10px;
  width: calc(100% - 115px);
  margin-right: 15px;
}
.site-parser__site_sometext {
  float: left;
  height: 30px;
  padding: 2px 10px;
  width: 100%;
  margin-top: 10px;
}
.site-parser__controls {
  float: left;
  width: 100%;
  margin: 0px 0px;
  padding: 15px 10px;
  border: 1px solid #ddd;
  border-top: none;
}
.site-parser__action-btn {
  width: 100px;
  height: 30px;
  text-align: center;
  display: block;
  float: right;
}
.site-parser__wrapper-text {
  float: left;
  width: 100%;
  margin: 10px 0px 0px;
  padding: 5px 10px;
  font-size: 90%;
}
.site-parser__error {
  border: 1px solid red;
  color: red;
}
.site-parser__result {
  border: 1px solid green;
  color: green;
}
.site-parser__loading {
  background-color: #f9f9f9;
  border: 1px solid #eee;
}