.sites-list {

}
.sites-list__item {
	display: inline-block;
	float: left;
}
.sites-list__item_open {
	display: block;
	width: 100%;
	margin: 10px 0px 20px;
	background-color: #f5fdfd;
	padding: 10px;
}
.sites-list__item-link {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	border: 1px solid;
	padding: 10px 15px;
}
.sites-list__item-link:hover,
.sites-list__item-link_active {
	text-decoration: none;
	color: #fff!important;
	background-color: #337ab7;
	outline: none;
}
.sites-list__item-link:active,
.sites-list__item-link:focus,
.sites-list__item-link:visited
{
	text-decoration: none;
}
.sites-list__item-results {
	display: none;
}
.sites-list__item_open .sites-list__item-results {
	display: block;
}
.item-results__page {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.item-results__page-count,
.item-results__page-link {
	padding-right: 10px;
}
.item-results__page-more {
	display: none;
	float: left;
	width: 100%;
	padding: 10px;
	margin: 10px 0px;
	background-color: #f6f7f9;
}
.item-results__page-more_open {
	display: block;
}
.results-more {
	float: left;
	width: 100%;
	margin: 5px 0px;
	overflow: hidden;
}